<h2>Current High Hand</h2>
<% @highest_hand.cards.each do |card| %>
	<div style="float:left;">
	<%= displayCard card %>
	</div>	
<% end %>
<div style="clear:both;"></div>

<h2>Your Hand</h2>
<% @test_hand.cards.each do |card| %>
	<div style="float:left;">
	<%= displayCard card %>
		<div>
			<% form_for :test_hand, @test_hand, :url => '/' do |f| %>
				<%= submit_tag 'Deal' %>
			<% end %>
		</div>
	</div>	
<% end %>
<div style="clear:both;"></div>

<% if @won then %>
<h2 style="color:green">You won!</h2>
<% end %>