<%= render :partial => 'board' %>
<div>
	<% form_remote_tag	:url => {:action => 'new'},
						:update => 'five_card_board',
						:loading => "Element.show('loading')",
						:loaded => "Element.hide('loading')" do %>
		<%= submit_tag 'Deal' %>
		<div id="loading" style="display:none;background-image:url(images/loader.gif);height:32px;width:32px;">
		</div>
	<% end %>
</div>